# Team's Response
This is not a bug.

According to the official email standards by RFC 5321 Section 2.3.5, domain names may be dotless, 
or in other words, do not require a subdomain component. This may be the case for TLD level email addresses or local networks where domains are likewise dotless. In particular, the document states the follwoing 

"A domain name (or often just a "domain") consists of one or more components, separated by dots if more than one appears. In the case of a top-level domain used by itself in an email address, a single string is used without any dots."

This is also shown in Wikipedia (screenshot below)

![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2122S2/pe-dev-response/master/files/ddbad312-41cc-4bbe-abf6-2e063bc58d67.png)




## Duplicate status (if any):
--